.project-screen {
  display: flex;
  flex-direction: column; 
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project-details {
  margin-bottom: 20px;
  color: #333; 
}

.project-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-details p,
.project-details h2,
.project-details ul,
.project-details li {
  font-size: 16px;
  margin-bottom: 15px;
}

.project-details h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.project-details ul {
  margin-bottom: 15px;
}

.project-details ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.project-links {
  display: flex;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 15px;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
}

.project-links a:hover {
  background-color: #333;
  color: #fff;
}

.project-screenshots img {
  max-width: 100%;
  margin-bottom: 50px; /* Add space between images */
  border-radius: 8px;
}
.project-screenshots :last-child {
  margin-bottom: 0; /* Remove margin from the last image to avoid extra space */
}

.project-screenshots img:last-child {
  margin-bottom: 0; /* Remove margin from the last image to avoid extra space */
}


.project-screenshots img {
  max-width: 30%; 
  margin-bottom: 20px;
  border-radius: 8px;
}
