/* Homepage.css */

/* Add styles to center the image and adjust its size */
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the size of the profile image */
.left-section img {
  width: 580px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust proportionally */
  margin-left: 120px;
}

/* Other styles for the icon list */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif; /* Use Google Font 'Roboto' */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: 700; /* Use font-weight 700 for boldness, adjust as desired */
}
.footer p {
  margin: 0; /* Remove default margins for the <p> tag */
  font-size: 18px; /* Adjust font size as needed */
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lets-connect {
  display: flex;
  align-items: center;
}

.centered-text {
  text-align: center; /* Center the text */
 
  margin-left: 50px;
}



.instagram-icon {
  color: white;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    padding: 10px; /* Adjust padding for smaller devices */
  }

  .left-section img {
    width: 100%; /* Adjust the image width to fit smaller screens */
    margin: 0; /* Reset margin for the image */
  }

  .right-section {
    width: 100%; /* Occupy full width */
    margin-top: 20px; /* Add some space between sections */
  }

  .icon-list img {
    width: 100%; /* Adjust the width of the icon list image */
    margin-right: 0; /* Reset margin for the image */
  }

  .professional-info {
    text-align: center; /* Center the professional info */
    margin-left: 0; /* Reset margin */
  }

  .footer {
    padding: 10px 0; /* Adjust footer padding */
    text-align: center;
  }

  .lets-connect {
    margin-left: 0; /* Reset margin for social links */
    justify-content: center; /* Center the social links */
  }
}

