
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  size of the profile image */
.left-section img {
  width: 580px;
  height: auto; 
  margin-left: 120px;
}


.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif; 
  font-size: 18px; 
  font-weight: 700; 
}
.footer p {
  margin: 0; 
  font-size: 18px; 
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lets-connect {
  display: flex;
  align-items: center;
}

.centered-text {
  text-align: center; 
 
  margin-left: 50px;
}



.instagram-icon {
  color: white;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    padding: 10px;
  }

  .left-section img {
    width: 100%; 
    margin: 0; 
  }

  .right-section {
    width: 100%; 
    margin-top: 20px; 
  }

  .icon-list img {
    width: 100%; 
    margin-right: 0; 
  }

  .professional-info {
    text-align: center; 
    margin-left: 0; 
  }



.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.footer p {
  margin: 0;
  font-size: 18px;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Adjust to a column layout for mobile devices */
  align-items: center;
}

.lets-connect {
  display: flex;
  align-items: center;
  justify-content: center; /* Center social links */
  margin-top: 10px; /* Add some space at the top */
}

.instagram-icon {
  color: white;
}

/* Hide the footer on mobile devices */
@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

}

